---
import Layout from '../layouts/Layout.astro';
import '../App.scss';
---

<main>
	<div class="home dark-bg">
		<h1>First Astro Project</h1>
		<p><a href="/about">Go to About</a></p>
	</div>
</main>
